@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

* {
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #16302b #e0e0e0;
}
body {
  background-color: #e0e0e0;
}

@theme {
  --color-pantone: #16302b;
  --color-offwhite: #e0e0e0;
  --color-accent: #510a32;
  --color-highlight: #ee4540;
}

.btn {
  @apply px-6 py-6 text-offwhite bg-accent hover:bg-pantone shadow-2xl
   transition-all duration-300 ease-in-out;
}

.btn {
  @apply px-16 py-6 text-offwhite bg-pantone hover:bg-accent text-center  hover:scale-105 transition-all duration-300 ease-in-out;
}

.btn-primary {
  @apply w-full px-14 py-6 bg-accent text-offwhite text-center hover:bg-highlight hover:text-pantone transition-all duration-300 ease-in-out;
}
.btn-secondary {
  @apply w-full px-16 py-6 text-pantone border-1  border-pantone text-center hover:bg-highlight hover:text-offwhite transition-all duration-300 ease-in-out;
}
.btn-cta {
  @apply w-full px-16 py-6 text-offwhite  bg-accent text-center hover:bg-pantone hover:scale-105 transition-all duration-300 ease-in-out;
}

a.active {
  @apply text-highlight;
}

.container-padding {
  @apply px-4 md:pl-6 lg:px-8;
}

.bg-pantone {
  background-color: #16302b;
}
.text-pantone {
  color: #16302b;
}

.bg-offwhite {
  color: #e0e0e0;
}
.text-offwhite {
  color: #e0e0e0;
}
.bg-accent {
  --color: #510a32;
}
.text-accent {
  color: #510a32;
}
